@model IEnumerable<ClgEvent>

@{
    ViewData["Title"] = "View Events";
}

<h2>Upcoming Events</h2>
<hr />
<div class="card-deck">
    @foreach (var evnt in Model)
    {
        @if (evnt.Status==0) //Display Events with New status only
        {
            var photoPath = "~/images/" + (evnt.PhotoPath ?? "event1.jpg");
            <div class="card-deck m-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>@evnt.Title</h4>
                    </div>
                    <img class="card-img-top image" src="@photoPath" asp-append-version="true" />
                    <div class="card-footer text-center">
                        <a asp-action="EventDetails" asp-route-id="@evnt.Id" class="btn btn-dark m-1">Details</a>
                        <a asp-action="AddRegEvent" asp-route-id="@evnt.Id" class="btn btn-primary m-1">Register</a>
                        <a asp-action="ViewPrograms" asp-route-id="@evnt.Id" class="btn btn-dark m-1">View Programs</a>
                    </div>
                </div>
            </div>

        }
    }
</div>
<div>
    <a asp-action="Index">Back to Home</a>
</div>
