@model IEnumerable<CoreApplication2.Models.EventProgram>

@{
    ViewData["Title"] = "View Programs";
}

<h2>Program List</h2>
<hr />
<p>
    <a asp-action="AddProgram">Add New Programs</a>
</p>
<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Program Id</th>
                <th>Name</th>
                <th>Program Type</th>
                <th>Venue</th>
                <th>Event</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.ClgEvent.Status == 0) //Display only New Programs
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Venue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClgEvent.Title)
                        </td>
                        <td>
                            <a asp-action="UpdateProgram" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="ProgramDetails" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="DeleteProgram" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>

